<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- the xmlns attribute gives us a namespace so that we can use the th attribute -->


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
<div>

    <div class="is-flex">
        <div class="is-card">
            <span>
                element
            </span>
        </div>
    </div>
<h1>
    This html file works.
</h1>
<ul>
<li th:each=" book : ${books}">
    <h1 th:text="${book.name}">

    </h1>
    </li>
    </ul>
  </div>
</body>
</html>